<html>

<head>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js">
    </script>
    <script src=""></script>
    <title>
        Binance API Chat
    </title>

</head>

<body>
    <h2 id="price">Trades</h2>
    {{title}}
    <h2>Balaces</h2>
    <form action="/buy" method="post">
        <input type="text" placeholder="eg. 0.001 BTC" id="quantity" />
        <select id="symbol">
            {%for ticket in symbols%}
            <option >
                {{ticket['symbol']}}
            </option>
            {%endfor%}
        </select>
        <input type="submit" name="buy" value="BUY" id="buy"></input>
    </form>
    <table>
        <tr>
            <td>
                <b>Asset</b>
            </td>
            <td>
                <b>Free</b>
            </td>
        </tr>
        {% for balance in balances %}
        <tr>
            <td>
                {{balance['asset']}}
            </td>
            <td>
                {{balance['free']}}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="settings">
        RSI
        <input type="checkbox" name="" id="">
        <input type="text" placeholder="14"> Ovebrought
        <input type="checkbox" name="" id="">
        <input type="text" placeholder="70"> Oversell
        <input type="checkbox" name="" id="">
        <input type="text" placeholder="30">
    </div>


</body>
<script src="{{url_for('static',filename='chart.js')}}"></script>

</html>